<head>
	<title>psls</title>
	<link rel="stylesheet" href="normalize.css" type="text/css">
	<link rel="stylesheet" href="sakura.css" type="text/css">
	<link rel="stylesheet" href="sakura-earthly.css" type="text/css">
</head>
<body>
	<center>
		<br>
		<br>
		<h1>{title}</h1>
		<form action="/" method="post">
			<label>Link </label>
			<input type="text" autocomplete="off" autofocus="autofocus" name="link"<input/>
			<br>
			<label>Password</label>
			<input type="password" name="pass"</>
			<input type="submit" value="Send"/>
		</form>
	<p>{count} links stored.</p>
	<small><footer>psls v{version}</footer></small>
	</center>
<body>